.modal {
  display: none;
  animation: opacityUp 200ms ease-in-out;
}

.modal.active {
  width: 100%;
  height: 100%;
  background-color: rgba(43, 43, 43, 0.648);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10000;
}
.modal.active .cuadro{
  width: 90%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  box-shadow: 0px 0px 10px rgb(30, 30, 30);
}
.modal.active .cuadro > img {
  margin: auto;
  width: 100%;
  object-fit: cover;
  object-position: center;
  box-shadow: 0px 1px 10px rgb(163, 163, 163);
}
.modal.active .contTextProduct{
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 20px auto;
}
.modal.active .nombreModal {
  font-size: 2em;
  font-weight: 400;
  text-align: center;
  border-bottom: 1px solid royalblue;
  margin: 10px 0;
}
.modal.active .precioModal {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
  margin-bottom: 10px;
}
.modal.active .descripcionSpan {
  margin-top: 10px;
  font-weight: 400;
  font-size: 1.3em;
}
.modal.active .descripcion {
  padding: 0 0 0 15px;
  margin: 20px 0;
}
.modal.active .descripcion > li {
  list-style: circle;
}
.modal.active .fa-xmark {
  text-align: center;
  font-size: 3.1em;
  color: rgb(33, 55, 113);
  box-shadow: 0 0 10px #DDD;
  border-radius: 100%;
  margin: auto;
  width: 20%;
}


/* ANIMACION DEL MODAL */

@keyframes opacityUp {
  from {
      opacity: -1;
  }to {
      opacity: 1;
  }
}

/* DISENO DE RESPUESTA PARA DISPOSITIVO PC */

@media (min-width: 500px) {
  .modal.active .cuadro{
      width: 75%;
  }
}

@media (min-width: 750px) {
  .modal.active .cuadro {
      width: 50%;
  }
}

@media (min-width: 1000px) {
  .modal.active .cuadro{
      width: 30%;
  }
}